
.footer {
  padding: 20px;
  background: #252525;
  border-bottom: 20px #6b7908 solid;
  color: white;
}

.titulof {
  border-right: 5px white solid;
  text-align: center;
}

.titulof h3 {
  color: #fff;
  font-size: 24px;
  padding-bottom: 10px;
  line-height: 23px;
  font-weight: 500;
  text-align: center;
  align-items: center;
  text-transform: uppercase;
}
.titulof p {
  color: white;
}

.menu-footer span a {
  color: wheat;
  display: inline;
  margin: 1%;
  font-size: 16px;
}
.menu-footer span a:hover {
  color: #6b7908;
}
.copyright {
  color: #fff;
  font-size: 13px;
  line-height: 22px;
  text-align: left;
  font-weight: normal;
  align-items: center;
}
.copyright a {
  color: white;
}
.social-red {
  text-align: center;
  display: inline-block;
  margin: auto;
}
.redes {
  color: white;
  font-size: 25px;
  margin: 6% 7%;
}
.menuf {
  display: inline-block;
  margin: auto;
}
@media (max-width: 768px) {
  .menuf,
  .copyright {
    text-align: center;
  }
  .titulof {
    border-right: none;
  }
}

#colof *::placeholder {
  color: #c9c7c7;
  opacity: 1;
}

.flot_right {
  float: right;
}

/** end footer **/