/*-- header --*/

.header-area {
  border-top: #6b7908 solid 15px;
  width: 100%;
  position: absolute;
  z-index: 9999; 
  height: 90px;
  background: rgb(255, 255, 255);
  line-height: 68px;
  font-family: 'Poppins', sans-serif;
}
.logo{
  margin-right: 14%;
}
.logo a {
  color: #1c1c1b;
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;

}
.logo a span {
  color: #6b7908;  
}

.navbar-area{
  text-align: center;
  display: flex;
  justify-content: center;
}
.navbar{
  padding:0px;
}
.site-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.site-navbar ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

 ul li a {
  color: #1c1c1b;
  font-size: 17px;
  display: flex;
  text-decoration: none;
}

 ul li {
  padding-right: 55px;
  
}

ul li:last-child {
  padding-right: 0;
}

ul li a:hover {
  color: #6b7908;
}
ul li a.active {
  color: #6b7908;
}

/* navbar regular css end */


/* nav-toggler css start */

.nav-toggler {
  border: 3px solid #363636;
  padding: 5px;
  background-color: transparent;
  cursor: pointer;
  height: 39px;
  display: none;
  z-index: 99999;
}

.nav-toggler span,
.nav-toggler span:before,
.nav-toggler span:after {
  width: 28px;
  height: 3px;
  background-color: #363636;
  display: block;
  transition: .3s;
}

.nav-toggler span:before {
  content: '';
  transform: translateY(-9px);
}

.nav-toggler span:after {
  content: '';
  transform: translateY(6px);
}

.nav-toggler.toggler-open span {
  background-color: transparent;
}

.nav-toggler.toggler-open span:before {
  transform: translateY(0px) rotate(45deg);
}

.nav-toggler.toggler-open span:after {
  transform: translateY(-3px) rotate(-45deg);
}


/* nav-toggler css start */