<header class="header-area">
  <nav class="navbar navbar-expand-lg" style="background-color: white;">
    <div class="container-fluid">
      <div class="logo">
        <a href="index.html">Ama<span>necer</span></a>
      </div>

      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarTogglerDemo03"
        aria-controls="navbarTogglerDemo03"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse navbar" id="navbarTogglerDemo03">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a
              class="nav-link"
              aria-current="page"
              [routerLink]="['home']"
              routerLinkActive="active"
              >Inicio</a
            >
          </li>

          <li class="nav-item">
            <a
              class="nav-link"
              aria-current="page"
              [routerLink]="['nosotros']"
              routerLinkActive="active"
              >Nosotros</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              aria-current="page"
              [routerLink]="['productos']"
              routerLinkActive="active"
              >Productos</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              aria-current="page"
              [routerLink]="['contacto']"
              routerLinkActive="active"
              >Contacto</a
            >
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
