/** contact ACABADO**/

.contact {
  background-image: linear-gradient(120deg, rgb(107, 121, 8,0.7) 0%, rgba(243, 243, 243, 0.7) 100%),url(../../../assets/imagenes/contact.jpg);
  background-position: center center;
  padding:20px 0;
  margin: 2% 0;
}
.formf{
    padding-bottom: 30px;
}
.formf h2{
    color: rgb(39, 39, 39);
}
.formulario .form-i{
    margin: 2% 0;
}
.formulario .form-i label{
    color: #000;
    font-weight: 500;
    font-size: 18px;
}

.formulario .form-i input{
    border: 2px  #6b7908 solid;
    color: #000;
}

.formulario .form-i textarea{
    border: 2px  #6b7908 solid;
    color: #000;
}

.btn-send {
  font-size: 20px;
  transition: ease-in all 0.5s;
  background-color: #323232;
  color: #fff;
  width: 100%;
  display: block;
  font-weight: 500;
  height: 50px;
  margin: 0 5px;
  border-radius: 10px;
}

.btn-send:hover {
  background-color: #6b7908;
  transition: ease-in all 0.5s;
  color: #fff;
}
.form-contact{
    display: flex;
}

.form-contact .form-i{
    margin: 1% auto;
}

.map-responsive{
    margin: 2% 0;
}
#request *::placeholder {
  color: #d0d0cf;
  opacity: 1;
}
.card-red{
    display: flex;
    justify-content:space-evenly;
}
.card-red button{
    text-align: center;
    width: 20%;
    padding: 0.5rem;
    border-radius: 10px;
    font-size: 19px;
}
.card-red .fa-whatsapp{
    color: green;
    font-weight: 900;
}
.card-red .fa-facebook-f{
    color: blue;
    font-weight: 900;
}
.datepicker-days {
  padding: 20px;
}
@media (max-width:768px) {
    .card-red button{
       
        width: 40%;
        padding: 0.5rem;
        
        font-size: 18px;
    }
}
/** end contact  **/
