<div class="cuerpo">
  <div class="contact">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="titlepage text_align_center formf">
            <span>Contactanos</span>
            <h2>Puedes encontrarnos en:</h2>
            <p>
              Nos encontramos en la provincia de Cercado-Cochabamba si usted
              tiene algun pedido especial o quiere mayor informacion puede
              mandarnos un correo electronico
            </p>
          </div>
          <div class="row card-red">
            <button>
              <a href="#">
                <i class="fa-brands fa-whatsapp"></i> Whatsapp
              </a>
            </button>
            <button>
              <a href="#">
                <i class="fa-brands fa-facebook-f"></i> Facebook
              </a>
            </button>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <form id="request" class="main_form">
            <div class="row formulario form-contact">
              <div class="col-md-9 form-i">
                <label class="form-label">Nombre Completo</label>
                <input class="form-control" maxlength="40" type="text" />
              </div>
              <div class="col-md-9 form-i">
                <label class="form-label">Email</label>
                <input class="form-control" maxlength="40" type="email" />
              </div>
              <div class="col-md-9 form-i">
                <label class="form-label">Mensaje</label>
                <textarea class="form-control" rows="3"></textarea>
              </div>
              <div class="col-md-9 form-i">
                <button class="btn btn-send">
                  <i class="fa-solid fa-paper-plane"></i> Enviar
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="map-responsive">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d121833.0184313877!2d-66.18745168079964!3d-17.398257621644326!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x93e375daaa9e2617%3A0x1ca207456270d502!2sCercado!5e0!3m2!1ses!2sbo!4v1665266668684!5m2!1ses!2sbo"
          width="100%"
          height="440"
          style="border: 0"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"
        ></iframe>
      </div>
    </div>
  </div>
</div>
