<div class="cuerpo">


     <div class="about">
       <div class="container-fluid">
         <div class="row d_flex espacio">
           <div class="col-lg-6 col-md-12">
             <div class="titlepage text_align_left">
               <span>Sobre nosotros</span>
               <h2>Asociacion "AMANECER"</h2>
               <p>
                 Somos la asociacion de pequeños productores de plantas
                 "Amanecer" nos dedicamos a la produccion y venta de plantas,
                 contamos con gran variedad de plantas que podra encontrar en
                 nuestra pagina web y en nuestras redes sociales.
                 <br />
                 Contamos con plantas de calidad que le serviran para decorar su
                 jardin y su hogar de una forma mas natural.
               </p>
             </div>
           </div>
           <div class="col-lg-6 col-md-12">
             <div class="row d_flex">
               <div class="col-md-12">
                 <div class="about_img">
                   <figure><img src="../../../assets/imagenes/nosotros.jpg" alt="nosotros" /></figure>
                 </div>
               </div>
 
             </div>
           </div>
         </div>
 
         <div class="row d_flex espacio">
         
          <div class="col-lg-12 col-md-12">
            <div class="titlepage text_align_left" style="max-width:99%;">
              <h1 class="subtitulo">Encuentranos en distintas ferias</h1>
              <p>
                Si usted desea ver nuestros mejores productos nos encontraran en las distintas ferias que organiza la alcaldia. Encontrara diversas plantas de interior y exterior, ademas de herramientas de jardineria y productos que le ayudaran a cuidar mejor sus plantas.
                <br />
                Contamos con plantas de calidad que le serviran para decorar su
                jardin y su hogar de una forma mas natural.
              </p>
            </div>
          </div>
          <div class="col-lg-6 col-md-12">
             <div class="row d_flex">
               <div class="col-md-12">
                 <div class="about_img">
                   <figure><img src="../../../assets/imagenes/feria1.jpg" alt="feria1" /></figure>
                 </div>
               </div>
 
             </div>
           </div>
           <div class="col-lg-6 col-md-12">
             <div class="row d_flex">
               <div class="col-md-12">
                 <div class="about_img">
                   <figure><img src="../../../assets/imagenes/feria2.jpg" alt="feria2" /></figure>
                 </div>
               </div>
 
             </div>
           </div>
           <div class="col-lg-6 col-md-12">
             <div class="row d_flex">
               <div class="col-md-12">
                 <div class="about_img">
                   <figure><img src="../../../assets/imagenes/feria3.jpg" alt="feria3" /></figure>
                 </div>
               </div>
 
             </div>
           </div>
           <div class="col-lg-6 col-md-12">
             <div class="row d_flex">
               <div class="col-md-12">
                 <div class="about_img">
                   <figure><img src="../../../assets/imagenes/feria4.jpg" alt="feria4" /></figure>
                 </div>
               </div>
 
             </div>
           </div>
           <div class="col-lg-6 col-md-12">
             <div class="row d_flex">
               <div class="col-md-12">
                 <div class="about_img">
                   <figure><img src="../../../assets/imagenes/feria5.jpg" alt="feria5" /></figure>
                 </div>
               </div>
 
             </div>
           </div>
           <div class="col-lg-6 col-md-12">
             <div class="row d_flex">
               <div class="col-md-12">
                 <div class="about_img">
                   <figure><img src="../../../assets/imagenes/feria6.jpg" alt="feria6"/></figure>
                 </div>
               </div>
 
             </div>
           </div>
        </div>
 
        <div class="row d_flex espacio">
         
          <div class="col-lg-6 col-md-12">
            <div class="titlepage text_align_left" style="max-width:99%;">
              <span>Contactate con nosotros en:</span>
             <h2>Facebook</h2>
              <p>
                Para mas informacion sobre nosotros puede seguirnos en nuestra pagina de facebook. Mediante nuestra pagina de Facebook podras saber en que ferias estaremos participando y muchas novedades, los esperamos.
              </p>
              <a class="read_more" href="https://www.facebook.com/AmanecerCBBA">
                <i class="fa-brands fa-facebook"></i>
                Facebook</a>
            </div>
          </div>
          <div class="col-lg-6 col-md-12">
             <div class="row d_flex">
               <div class="col-md-12">
                 <div class="about_img">
                   <figure><img src="../../../assets/imagenes/facebook.png" alt="#" /></figure>
                 </div>
               </div>
 
             </div>
           </div>
          
         
         
        </div>
 
 
        
       </div>
     </div>


 
</div>
