.tarjeta{
  margin: 2% auto;
}

/** about section **/

.about {
  background: #fff;
  padding: 10px;
}

.espacio{
  margin-top: 2%;
}
.about_img figure {
  margin: 2% 3%;
}


.about_img figure img {
  transition: ease-in all 0.5s; 
  border-radius: 5px;
}

.about .titlepage {
  padding-bottom: 0;
  max-width: 610px;
  width: 100%;
  float: right;
}

.about .titlepage p {
  padding-top: 20px;
  color: #000000;
}

.about .read_more {
  margin-top: 35px;
}

.about_img figure img:hover {
  box-shadow: 0 0 16px 3px #635d5d38;
  transition: ease-in all 0.5s;
}
.subtitulo{
  color: #292928;
  font-size: 30px;
  line-height: 35px;
  font-weight: bold;
}
/** end about section **/