
<div id="home">
  <div class="slider_main">
    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="false">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active" style="background-image: url('../../../assets/imagenes/portada1.jpg');">
       
        </div>
        <div class="carousel-item" style="background-image: url('../../../assets/imagenes/portada2.jpg');">
         
        </div>
        <div class="carousel-item" style="background-image: url('../../../assets/imagenes/portada3.jpg');">
       
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="willom">
            <h1>Amanecer</h1>
          </div>
        </div>
      </div>
    </div>
  </div>  


  <!-- Nosotros -->
  <div class="about">
    <div class="container">
      <div class="row d_flex">
        <div class="col-lg-6 col-md-12">
          <div class="titlepage text_align_left">
            <span>Sobre nosotros</span>
            <h2>Amanecer</h2>
            <p>
              Bienvenid@ a nuestro sitio web, aqui encontrara informacion sobre la asociacion de pequeños productores de plantas "Amanecer CBBA".
              
              Somos mas de 60 productores de plantas que nos dedicamos a la produccion y venta de diversas plantas, tanto plantas de interior como de exterior.
            </p>
            <a class="read_more" [routerLink]="['/nosotros']">Mas detalles</a>
          </div>
        </div>
        <div class="col-lg-6 col-md-12">
          <div class="row d_flex">
            <div class="col-md-12">
              <div class="about_img">
                <figure>
                  <img
                    src="../../../assets/imagenes/portada1.jpg"
                    alt="#"
                  />
                </figure>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Productos -->
<div class="services">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="titlepage text_align_left">
          <span>Algunos de</span>
          <h2>NUESTROS PRODUCTOS</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="services_box_main">
          <div class="services_box text_align_left">
            <figure>
              <img src="../../../assets/imagenes/producto1.jpg" alt="productos1" />
            </figure>
            <div class="veget">
              <h3>PLANTAS DE<br />INTERIOR</h3>
              <p>
                Tenemos gran variedad de plantas de interior que seran ideales para decorar su hogar, ademas de que le ayudaran a reducir el estres y limpiar el aire de su hogar.
              </p>
            </div>
          </div>
          <a class="read_more" [routerLink]="['/plantas-de-interior']"
            >Lee mas</a
          >
        </div>
      </div>
      <div class="col-md-4">
        <div class="services_box_main">
          <div class="services_box text_align_left">
            <figure>
              <img src="../../../assets/imagenes/producto2.jpg" alt="producto2" />
            </figure>
            <div class="veget">
              <h3>PLANTAS DE<br />EXTERIOR</h3>
              <p>
                Si desea llenar de vida su hogar tambien contamos con plantas de exterior que le ayudara a decorar su hogar y le brindaran un toque mas natural.
              </p>
            </div>
          </div>
          <a class="read_more" [routerLink]="['/plantas-de-exterior']"
            >Lee mas</a
          >
          
        </div>
      </div>
      <div class="col-md-4">
        <div class="services_box_main">
          <div class="services_box text_align_left">
            <figure>
              <img src="../../../assets/imagenes/producto3.jpg" alt="producto3" />
            </figure>
            <div class="veget">
              <h3>COMPLEMENTOS<br />DE JARDINERIA</h3>
              <p>
                Contamos con herramientas para la jardineria, abono y macetas decorativas que ayudaran al crecimiento y cuidado de sus plantas.
              </p>
            </div>
          </div>
          <a class="read_more" [routerLink]="['/producto']">Lee mas</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="contact">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="titlepage text_align_center formf">
          <span>Contactanos</span>
          <h2>Puedes encontrarnos en:</h2>
          <p>
            Nos encontramos en la provincia de Cercado-Cochabamba si usted
            tiene algun pedido especial o quiere mayor informacion puede
            mandarnos un correo electronico
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-5">
        <form id="request" class="main_form">
          <div class="row formulario">
            <div class="col-md-12 form-i">
              <label class="form-label">Nombre Completo</label>
              <input class="form-control" maxlength="40" type="text">
            </div>
            <div class="col-md-12 form-i">
              <label class="form-label">Email</label>
              <input class="form-control" maxlength="40" type="email">
            </div>
            <div class="col-md-12 form-i">
              <label class="form-label">Mensaje</label>
              <textarea class="form-control" rows="3"></textarea>
            </div>
            <div class="col-md-12 form-i">
              <button class="btn btn-send"><i class="fa-solid fa-paper-plane"></i> Enviar</button>
            </div>
          </div>
        </form>
      </div>

      <div class="col-md-7">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d121833.0184313877!2d-66.18745168079964!3d-17.398257621644326!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x93e375daaa9e2617%3A0x1ca207456270d502!2sCercado!5e0!3m2!1ses!2sbo!4v1665266668684!5m2!1ses!2sbo"
          width="100%"
          height="440"
          style="border: 0"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"
        ></iframe>
      </div>
    </div>
  </div>
</div>
