.services {
  background: #fff;
  padding-top: 90px;
}

.services .titlepage {
  padding-bottom: 20px;
}

.services_box {
  margin-top: 30px;
  box-shadow: 0 0 38px rgba(2, 3, 8, 0.14);
  background: #fff;
  margin-bottom: 50px;
  border-radius: 5px;
}

.services_box figure {
  margin: 0;
}

.services_box figure img {
  border-radius: 5px 5px 0 0;
}

.veget {
  padding: 40px;
  border-radius: 5px 5px 0 0;
  margin-top: -5px;
  position: relative;
  /* z-index: 99999; */
  background: #fff;
}

.services_box h3 {
  color: #292928;
  font-size: 30px;
  line-height: 35px;
  font-weight: bold;
  padding-bottom: 20px;
}

.services_box_main .read_more {
  margin: 0 auto;
  display: block;
}

.products {
  padding: 60px 0 30px 0;
  margin-bottom: 90px;
  background-color: #f4f4f4;
}

.products .titlepage {
  text-align: left;
}

.our_products {
  padding: 0 15px 15px 15px;
  transition: ease-in all 0.3s;
  margin-bottom: 30px;
}

#ho_bo:hover.our_products {
  box-shadow: 0px 0px 9px rgba(79, 248, 28, 0.651);
  transition: ease-in all 0.3s;
  margin-top: -10px;
  cursor: pointer;
  background-color: #fff;
}

.our_products h3 {
  margin-top: 15px;
  font-size: 22px;
  line-height: 31px;
  color: #000;
  font-weight: 500;
  padding-bottom: 10px;
}

.our_products span {
  font-size: 17px;
  line-height: 20px;
  font-weight: 500;
  color: #ff3556;
}

.our_products p {
  font-size: 15px;
  line-height: 21px;
  font-weight: 400;
  color: #000000;
}

.product {
  background-color: #fff;
  text-align: center;
  margin: 0 -15px 0px -15px !important;
}

.product figure {
  margin: 0;
}
.btn-contacto {
  font-size: 16px;
  background: rgb(50, 50, 50);
  max-width: 203px;
  width: 100%;
  transition: ease-in all 0.5s;
  color: rgb(51, 51, 51);
  display: block;
  height: 80px;
  line-height: 80px;
  text-align: center;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: bold;
}

.btn-contacto:hover {
  background: #6b7908;
  color: #fff;
}