<div class="services">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="titlepage text_align_left">
          <span>Nuestros Productos</span>
          <h2>PLANTAS</h2>
        </div>
      </div>
    </div>
    <!-- Carta -->

    <div class="row">
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div id="ho_bo" class="our_products">
          <div class="product">
            <figure><img src="https://firebasestorage.googleapis.com/v0/b/amanecer-594e9.appspot.com/o/comp1.jpg?alt=media&token=db860a9b-cbb6-494f-96eb-374ef66e8b97" alt="#" /></figure>
          </div>
          <h3>Mangoes For Juice</h3>
          <span>Nam libero tempore</span>
          <p>
            Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet,
            consectetur, adipisci velit, sed quia non
          </p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div id="ho_bo" class="our_products">
          <div class="product">
            <figure><img src="https://firebasestorage.googleapis.com/v0/b/amanecer-594e9.appspot.com/o/comp2.jpg?alt=media&token=b77dc288-fe6f-489b-81b1-58f5bf6a3ba0" alt="#" /></figure>
          </div>
          <h3>Apple For Juice</h3>
          <span>Nam libero tempore</span>
          <p>
            Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet,
            consectetur, adipisci velit, sed quia non
          </p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div id="ho_bo" class="our_products">
          <div class="product">
            <figure><img src="https://firebasestorage.googleapis.com/v0/b/amanecer-594e9.appspot.com/o/comp3.jpg?alt=media&token=7d2383c9-00d6-495f-9be5-4ce67f712cb5" alt="#" /></figure>
          </div>
          <h3>Orange For Juice</h3>
          <span>Nam libero tempore</span>
          <p>
            Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet,
            consectetur, adipisci velit, sed quia non
          </p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div id="ho_bo" class="our_products">
          <div class="product">
            <figure><img src="https://firebasestorage.googleapis.com/v0/b/amanecer-594e9.appspot.com/o/comp4.jpg?alt=media&token=5cf1d981-e7cc-4462-81a7-abbf08e5e6e2" alt="#" /></figure>
          </div>
          <h3>Pineapple For Juice</h3>
          <span>Nam libero tempore</span>
          <p>
            Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet,
            consectetur, adipisci velit, sed quia non
          </p>
        </div>
      </div>
    </div>

    <div class="row">
      <button
        class="btn btn-contacto"
        type="button"
        data-bs-toggle="offcanvas"
        data-bs-target="#offcanvasWithBothOptions"
        aria-controls="offcanvasWithBothOptions"
      >
        Contactanos
      </button>

      <div
        class="offcanvas offcanvas-start"
        data-bs-scroll="true"
        tabindex="-1"
        id="offcanvasWithBothOptions"
        aria-labelledby="offcanvasWithBothOptionsLabel"
      >
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasWithBothOptionsLabel">
            Contactos
          </h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="offcanvas"
            aria-label="Close"
          ></button>
        </div>
        <div class="offcanvas-body">
          <div class="row">
            <div class="col-md-12">
              <h4>Nombre productor</h4>
              <p>Contacto: +593 9077987</p>
              <ul>
                <li>rosas</li>
                <li>suculentas</li>
              </ul>
              <p>
                Direccion:
                <a href="https://goo.gl/maps/oHwvZh78zJkzV2sW7">Ver Aqui</a>
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <h4>Nombre productor</h4>
              <p>Contacto: +593 9077987</p>
              <ul>
                <li>rosas</li>
                <li>suculentas</li>
              </ul>
              <p>
                Direccion:
                <a href="https://goo.gl/maps/oHwvZh78zJkzV2sW7">Ver Aqui</a>
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <h4>Nombre productor</h4>
              <p>Contacto: +593 9077987</p>
              <ul>
                <li>rosas</li>
                <li>suculentas</li>
              </ul>
              <p>
                Direccion:
                <a href="https://goo.gl/maps/oHwvZh78zJkzV2sW7">Ver Aqui</a>
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <h4>Nombre productor</h4>
              <p>Contacto: +593 9077987</p>
              <ul>
                <li>rosas</li>
                <li>suculentas</li>
              </ul>
              <p>
                Direccion:
                <a href="https://goo.gl/maps/oHwvZh78zJkzV2sW7">Ver Aqui</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Fin de carta -->
  </div>
</div>