/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; font-family: 'Poppins', sans-serif;}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Raleway:400,500,600,700,800,900&display=swap');




/*--------------------------------------------------------------------- 
basic 
---------------------------------------------------------------------*/
.cuerpo{
    margin-top: 100px;
  }

  * {
    box-sizing: border-box !important;
  }
  
  .container {
    max-width: 1170px;
  }
  
  html {
    scroll-behavior: smooth;
    overflow-x: hidden;
  }
  
  body {
    color: #666666;
    font-size: 14px;
    font-family: "Poppins", sans-serif;
    line-height: 1.80857;
    font-weight: normal;
    overflow-x: hidden;
  }
  
  a {
    color: #1f1f1f;
    text-decoration: none !important;
    outline: none !important;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    letter-spacing: 0;
    font-weight: normal;
    position: relative;
    padding: 0;
    font-weight: normal;
    line-height: normal;
    color: #111111;
    margin: 0;
  }
  
  h1 {
    font-size: 24px;
  }
  
  h2 {
    font-size: 22px;
  }
  
  h3 {
    font-size: 18px;
  }
  
  h4 {
    font-size: 16px;
  }
  
  h5 {
    font-size: 14px;
  }
  
  h6 {
    font-size: 13px;
  }
  
  *,
  *::after,
  *::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  h1 a,
  h2 a,
  h3 a,
  h4 a,
  h5 a,
  h6 a {
    color: #212121;
    text-decoration: none !important;
    opacity: 1;
  }
  
  button:focus {
    outline: none;
  }
  
  ul,
  li,
  ol {
    margin: 0px;
    padding: 0px;
    list-style: none;
  }
  
  p {
    margin: 0px;
    font-weight: normal;
    font-size: 17px;
    line-height: 28px;
    color: #2d2d2d;
  }
  
  a {
    color: #222222;
    text-decoration: none;
    outline: none !important;
  }
  
  a,
  .btn {
    text-decoration: none !important;
    outline: none !important;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }
  
  :focus {
    outline: 0;
  }
  
  .btn-custom {
    margin-top: 20px;
    background-color: transparent !important;
    border: 2px solid #ddd;
    padding: 12px 40px;
    font-size: 16px;
  }
  
  .lead {
    font-size: 18px;
    line-height: 30px;
    color: #767676;
    margin: 0;
    padding: 0;
  }
  
  .form-control:focus {
    border-color: #ffffff !important;
    box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.25);
  }
  
  .navbar-form input {
    border: none !important;
  }
  
  .badge {
    font-weight: 500;
  }
  
  blockquote {
    margin: 20px 0 20px;
    padding: 30px;
  }
  
  button {
    border: 0;
    margin: 0;
    padding: 0;
    cursor: pointer;
  }
  
  .full {
    float: left;
    width: 100%;
  }
  
  .full {
    width: 100%;
    float: left;
    margin: 0;
    padding: 0;
  }
  
  .titlepage {
    padding-bottom: 50px;
  }
  .titlepage span {
    font-size: 24px;
    color: #6b7908;
    line-height: 30px;
    font-weight: bold;
    padding-bottom: 15px;
    display: block;
    text-transform: uppercase;
  }
  .titlepage h2 {
    font-size: 50px;
    color: #3d3d3d;
    line-height: 50px;
    font-weight: bold;
    display: block;
    text-transform: uppercase;
  }
  
  .titlepage p {
    padding-top: 0px;
  }
  
  .d_flex {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    /* margin-top: 2%; */
  }
  .espacio {
    margin-top: 2%;
  }
  .subtitulo {
    color: #353535;
    font-size: 30px;
    line-height: 35px;
    font-weight: bold;
  }
  
  .read_more {
    font-size: 16px;
    background: #323232;
    max-width: 203px;
    width: 100%;
    transition: ease-in all 0.5s;
    color: #fff;
    display: block;
    height: 80px;
    line-height: 80px;
    text-align: center;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: bold;
  }
  
  .read_more:hover {
    background: #6b7908;
    color: #fff;
  }
  
  .text_align_left {
    text-align: left;
  }
  
  .text_align_right {
    text-align: right;
  }
  
  .text_align_center {
    text-align: center;
  }
  
  .img_responsive {
    max-width: 100%;
  }

/**-- heading section --**/


/*---------------------------- preloader area ----------------------------*/

.loader_bg {
    position: fixed;
    z-index: 9999999;
    background: #fff;
    width: 100%;
    height: 100%;
}

.loader {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader img {
    width: 280px;
}





/* intro-area css start */

.intro-area {
    height: calc(100vh - 61px);
    display: flex;
    align-items: center;
    text-align: center;
    color: #fff;
}



ul.email li {
     display: inline-block;
     padding-right: 30px;
}
ul.email li:last-child {padding-right: 0;}
ul.email li a {
     color: #6b7908;
     font-size: 17px;
     text-transform: uppercase;
}

ul.email li i {
     color: #1a1b1b;
     font-size: 19px;
     ;
     padding-left: 10px;
}

/** end header **/


/** banner section **/


.relative {
     left: 5%;
     right: 5%;
     text-align: left;
}

.carousel-item {
     height: 100%;
     width: 100%;
}
#banner1 .carousel-item img {
    width: 100%; 
    height: 100vh;
}
.willom {
    display: flex;
    margin-top: -85px;
}
.willom h1 {
    font-size: 70px;
    line-height: 70px;
    color: #fff;
    font-weight: bold;
    margin: 0 auto;
    text-align: center;
    background: #6b7908;
    display: inline-block;
    padding: 46px 46px;
    border-radius: 30px;
}
.slider_main .carousel-indicators {
     display: none;
}

/** end banner section **/

/** services section **/

.services {
    background: #fff;
    padding-top: 10px;
}

.services .titlepage {
    padding-bottom: 20px;
}

.services_box {
    margin-top: 30px;
    box-shadow: 0 0 38px rgba(2, 3, 8, 0.14);
    background:#fff;
    margin-bottom: 50px;
    border-radius: 5px;
}

.services_box figure {
    margin: 0;
}

.services_box figure img {
    border-radius: 5px 5px 0 0;
}

.veget {
    padding: 40px;
    border-radius: 5px 5px 0 0;
    margin-top: -5px;
    position: relative;
    /* z-index: 99998; */
    background: #fff;
}

.services_box h3 {
    color: #292928;
    font-size: 30px;
    line-height: 35px;
    font-weight: bold;
       padding-bottom: 20px;
}

.services_box_main .read_more {
    margin: 0 auto; 
    display: block;
}

/** end services section **/

/** contact  **/

.contact {
    background: #fff;
    padding-top: 90px;
}

.map-responsive {margin-top: 90px;}
.main_form .form_control {
    padding: 0 20px;
    margin-bottom: 30px;
    width: 100%;
    height: 66px;
    background: #fff;
    color: #999998;
    font-size: 18px;
    font-weight: normal;
    border: #6b7908 solid 3px;
}

.main_form .textarea {
    margin-bottom: 40px;
    width: 100%;
    background: #fff;
    color: #999998 !important;
    font-size: 18px;
    font-weight: normal;
    padding: 15px 20px 15px 20px;
    border: #6b7908 solid 3px;
    height: 179px;
}


.group_btn {display: flex; justify-content: center;}

.main_form .send_btn {
    font-size: 20px;
    transition: ease-in all 0.5s;
    background-color: #323232;
    text-transform: uppercase;
    color: #fff;
    max-width: 169px;
    width: 100%;
    display: block;
    font-weight: 500;
    height: 69px;
    line-height: 69px;
    margin: 0 5px;
    border-radius: 10px;
}

.main_form .send_btn:hover {
    background-color: #6b7908;
    transition: ease-in all 0.5s;
    color: #fff;
}

#request *::placeholder {
    color: #d0d0cf;
    opacity: 1;
}

.datepicker-days {
    padding: 20px;
}


/** end contact  **/

/**  inner page css **/

.inner_page .header-area {
    /* background: #9e47477a; */
    /* position: inherit; */
}


.about_page .about, .service_page .services{padding-bottom: 90px;} 

/*--------------------------------------------------------------------- 
File Name: responsive.css 
---------------------------------------------------------------------*/

@media (min-width: 1343px) and (max-width: 1500px) {
  
}

@media (min-width: 1200px) and (max-width: 1342px) {
   
  
}

@media (min-width: 992px) and (max-width: 1199px) {
   
    .site-navbar ul li {
        padding-right: 37px;
    }
   
   ul.recent li {font-size: 13px;}
   .titlepage h2 {
    font-size: 39px;
    line-height: 39px;
   }
}

@media (min-width: 768px) and (max-width: 991px) {
   
    .site-navbar ul li {
        padding-right: 7px;
    }
   ul.email li {

    padding-right: 11px;
}
.willom  h1 {
        font-size: 56px;
        line-height: 70px;
    }
   
   .about .titlepage {padding-bottom: 30px; max-width: inherit;}
    .titlepage h2 {
    font-size: 37px;
    line-height: 37px;
    }
    .nostrud h3 {
        font-size: 20px;
        line-height: 21px;
    }
    .point h3 {
    max-width: 159px;
    height: 159px;
}
    .services_box h3 {
    font-size: 22px;
    line-height: 21px;
   }
   .veget {
    padding: 30px 15px;
}

}

@media (min-width: 576px) and (max-width: 767px) {
  
    
   .willom h1 {
    font-size: 49px;
    line-height: 60px;}
    #myCarousel .carousel-control-next {
        right: 1%;
    }
    #myCarousel .carousel-control-prev {
        left: 1%;
    }
   .titlepage h2 {
    font-size: 46px;
    line-height: 50px;}
   
   .about_img {
    margin-top: 30px;
}
       .about .titlepage { max-width: inherit;}
  
    .d_none {
        display: none !important;
    }
    .services_box {
    max-width: 371px;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 50px;
}
    .latest {
        max-width: 370px;
        margin: 0 auto;
        margin-bottom: 55px;
    }
    .flot_right {float: inherit;}
    ul.social_icon {
    text-align: center;
    margin-top: 20px;
}
    /* navbar css for mobile start */
    .nav-toggler {
        display: block;
        position: absolute;
        right: 15px;
        z-index: 99999;
    }
    .site-navbar {
        min-height: 60px;
    }
    .site-navbar ul {
        position: absolute;
        width: 100%;
        left: -15px;
        top: 60px;
        flex-direction: column;
        align-items: center;
        background-color: #fff;
        max-height: 0;
        overflow: hidden;
        transition: .3s;
        z-index: 99999;
        box-shadow: 0 0 10px rgb(192, 190, 182);
    }
    .site-navbar ul li {
        width: 100%;
        text-align: left;
        padding-right: 0;
    }
   .site-navbar ul li a {
    padding: 0px 25px 0px 25px;
    line-height: 40px;
}
    .site-navbar ul.open {
        max-height: 100vh;
        padding-bottom: 25px;
        overflow: visible;
    }
    /* navbar css for mobile end */
}

@media (max-width: 575px) {
   
    .logo {
        text-align: left;
    }
    .willom h1 {
        font-size: 27px;
line-height: 40px;padding: 46px 21px;
    }
    #myCarousel .carousel-control-next {
        right: 1%;
    }
    #myCarousel .carousel-control-prev {
        left: 1%;
    }
    .titlepage h2 {
        font-size: 37px;
        line-height: 45px;
    }
    .about_img {
    margin-top: 30px;
}
       .about .titlepage { max-width: inherit;}
       .custom {padding: 40px 12px;}
       .services_box {
    max-width: 371px;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 50px;
}
    .latest {
        max-width: 317px;
        margin: 0 auto;
       
        margin-top: 30px;
    }
    .titlepage h2 {
        line-height: 40px;
        font-size: 28px;
    }
    .d_none {
        display: none !important;
    }
       .flot_right {float: inherit;}
    ul.social_icon {
    text-align: center;
    margin-top: 20px;
}
    /* navbar css for mobile start */
    .navbar-area {
        margin-top: -67px;
    }
    .nav-toggler {
        display: block;
        position: absolute;
        right: 15px;
        z-index: 99999;
    }
    .site-navbar {
        min-height: 60px;
    }
    .site-navbar ul {
        position: absolute;
        width: 100%;
        left: 0px;
        top: 0px;
        flex-direction: column;
        align-items: center;
        background-color: #fff;
        max-height: 0;
        overflow: hidden;
        transition: .3s;
        z-index: 99999;
        box-shadow: 0 0 10px rgb(192, 190, 182);
    }
    .site-navbar ul li {
        width: 100%;
        text-align: left;
        padding-right: 0;
    }
       .site-navbar ul li a {
    padding: 0px 25px 0px 25px;
    line-height: 40px;
}
    .site-navbar ul.open {
        max-height: 100vh;
        padding-bottom: 25px;
        overflow: visible;
    }
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
